<p-panel [style]="{ 'margin-bottom': '10px' }">
  <p-header>Users</p-header>
  <div class="row">
    <div class="col">
      <p-button icon="pi pi-plus" severity="success" label="Add" appPermission appPolicy="Permissions.Users.Create"
        (click)="showAddModal()"></p-button>

      <p-button icon="pi pi-trash" severity="danger" label="Delete" class="ms-1" appPermission
        appPolicy="Permissions.Users.Delete" *ngIf="selectedItems.length > 0" (click)="deleteItems()"></p-button>

      <p-button icon="pi pi-pencil" severity="warning" label="Edit" class="ms-1" appPermission
        appPolicy="Permissions.Users.Edit" *ngIf="selectedItems.length == 1" (click)="showEditModal()"></p-button>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="text" pInputText id="txtKeyword" placeholder="Enter keywords..." (keyup.enter)="getData()"
            [(ngModel)]="keyword" />
        </div>
        <div class="col">
          <p-button icon="pi pi-search" (click)="getData()"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Date created</th>
          <th style="width: 150px">Status</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.firstName }}</td>
          <td>{{ row.userName }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.phoneNumber }}</td>
          <td>{{ row.dateCreated | date: 'dd-MM-yyyy hh:mm' }}</td>
          <td style="width: 150px">
            <p-badge value="Active" severity="success" *ngIf="row.isActive == 1"></p-badge>
            <p-badge value="UnActive" severity="danger" *ngIf="row.isActive == 0"></p-badge>
          </td>
          <td>
            <p-button icon="pi pi-key" pTooltip="Set password" tooltipPosition="top" [rounded]="true" [text]="true"
              (click)="setPassword(row.id, row.userName)"></p-button>

            <p-button icon="pi pi-envelope" pTooltip="Change email" tooltipPosition="top" [rounded]="true" [text]="true"
              (click)="changeEmail(row.id)"></p-button>

            <p-button icon="pi pi-users" pTooltip="Role assign" tooltipPosition="top" [rounded]="true" [text]="true"
              (click)="assignRole(row.id)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Total: {{ totalCount | number }}</div>
      </ng-template>
    </p-table>
  </div>

  <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>

  <p-blockUI [blocked]="isLoading">
    <div class="card flex justify-content-center bg-transparent" [style]="{border: 'none'}">
      <p-progressSpinner strokeWidth="2" animationDuration="1s" />
    </div>
  </p-blockUI>
</p-panel>