<div class="row mb-1">
  <p-table [value]="items" selectionMode="multiple" dataKey="id" [metaKeySelection]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>From Status</th>
        <th>To Status</th>
        <th>User</th>
        <th>Date Created</th>
        <th>Note</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <p-badge value="Draft" severity="info" *ngIf="row.fromStatus == 0"></p-badge>
          <p-badge value="Waiting" severity="warning" *ngIf="row.fromStatus == 1"></p-badge>
          <p-badge value="Reject" severity="danger" *ngIf="row.fromStatus == 2"></p-badge>
          <p-badge value="Published" severity="success" *ngIf="row.fromStatus == 3"></p-badge>
        </td>
        <td>
          <p-badge value="Draft" severity="info" *ngIf="row.toStatus == 0"></p-badge>
          <p-badge value="Waiting" severity="warning" *ngIf="row.toStatus == 1"></p-badge>
          <p-badge value="Reject" severity="danger" *ngIf="row.toStatus == 2"></p-badge>
          <p-badge value="Published" severity="success" *ngIf="row.toStatus == 3"></p-badge>
        </td>
        <td>{{ row.userName }}</td>
        <td>{{ row.dateCreated | date : 'dd-MM-yyyy hh:mm' }}</td>
        <td>{{ row.note }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>