<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="save()">
  <div class="mb-3">
    <label for="name">Name <span class="required">*</span></label>
    <input id="name" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="name" (keyup)="generateSlug()"
      [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="name"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>

  <div class="mb-3">
    <label for="slug">Slug <span class="required">*</span></label>
    <input id="slug" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="slug"
      [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="slug"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>

  <div class="mb-3">
    <label for="sortOrder">No <span class="required">*</span></label>
    <p-inputNumber id="sortOrder" formControlName="sortOrder" [style]="{ width: '100%', marginLeft: '10px' }">
    </p-inputNumber>
  </div>

  <div class="mb-3">
    <label for="shortDesc">Description SEO</label>
    <textarea id="shortDesc" type="text" rows="4" pInputTextarea [pKeyFilter]="noSpecial"
      formControlName="seoDescription" [style]="{ width: '100%' }"></textarea>
  </div>

  <div class="mb-4" [style]="{display: 'flex'}">
    <p-checkbox formControlName="isActive" [binary]="true" id="isActive"></p-checkbox>
    <label for="isActive" class="mx-1">Active</label>
  </div>
  <div class="flex justify-content-end">
    <p-button type="submit"  [disabled]="!form.valid || btnDisabled" [label]="saveBtnName"></p-button>
  </div>
</form>