<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="save()">
  <div class="flex align-items-center mb-3">
    <label for="reason" class="block">Description <span class="required">*</span></label>
    <textarea id="reason" type="text" rows="4" pInputTextarea formControlName="reason"
      [style]="{ width: '100%' }"></textarea>
    <app-validate-message [entityForm]="form" fieldName="reason"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>

  <div class="flex justify-content-end">
    <p-button type="submit" label="Update" [disabled]="!form.valid || btnDisabled"></p-button>
  </div>
</form>