<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="save()">
  <div class="flex align-items-center mb-3">
    <label for="email">Email <span class="required">*</span></label>
    <input id="email" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="email"
      [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="email"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>

  <div class="flex justify-content-end">
    <p-button type="submit" [disabled]="!form.valid || btnDisabled" label="Update"></p-button>
  </div>

  <p-blockUI [blocked]="isLoading">
    <div class="card flex justify-content-center bg-transparent" [style]="{border: 'none'}">
      <p-progressSpinner strokeWidth="2" animationDuration="1s" />
    </div>
  </p-blockUI>
</form>