<p-panel [style]="{ 'margin-bottom': '20px' }">
  <p-header>Posts </p-header>
  <div class="row">
    <div class="col-4">
      <p-button icon="pi pi-plus" severity="success" label="Add" appPermission appPolicy="Permissions.Posts.Create"
        (click)="showAddModal()"></p-button>

      <p-button icon="pi pi-trash" severity="danger" label="Delete" class="ms-1" appPermission
        appPolicy="Permissions.Posts.Delete" *ngIf="selectedItems.length > 0" (click)="deleteItems()"></p-button>

      <p-button icon="pi pi-pencil" severity="warning" label="Edit" class="ms-1" appPermission
        appPolicy="Permissions.Posts.Edit" *ngIf="selectedItems.length == 1" (click)="showEditModal()"></p-button>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <input type="text" pInputText id="txtKeyword" placeholder="Enter keywords..." (keyup.enter)="getData()"
            [(ngModel)]="keyword" />
        </div>
        <div class="col">
          <p-dropdown [options]="postCategories" [(ngModel)]="postCategoryId" [showClear]="true"
            [style]="{ width: '100%' }" placeholder="Choose category" *ngIf="postCategories.length > 0">
          </p-dropdown>
        </div>
        <div class="col">
          <p-button icon="pi pi-search" (click)="getData()"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Title</th>
          <th>Category</th>
          <th>View</th>
          <th>Date created</th>
          <th>Royalty</th>
          <th style="width: 150px">Published</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.categoryName }}</td>
          <td>{{ row.viewCount | number }}</td>
          <td>{{ row.dateCreated | date : 'dd-MM-yyyy hh:mm' }}</td>
          <td>
            <p-badge value="Not paid" severity="danger" *ngIf="row.isPaid == 0" ></p-badge>
            <p-badge value="Paid" severity="success" *ngIf="row.isPaid == 1" ></p-badge>
          </td>
          <td style="width: 150px">
            <p-badge value="Draft" severity="info" *ngIf="row.status == 0"></p-badge>
            <p-badge value="Waiting" severity="warning" *ngIf="row.status == 1"></p-badge>
            <p-badge value="Reject" severity="danger" *ngIf="row.status == 2"></p-badge>
            <p-badge value="Published" severity="success" *ngIf="row.status == 3"></p-badge>
          </td>
          <td>
            <button pButton pRipple icon="pi pi-list" pTooltip="Add to series" tooltipPosition="top"
            appPermission appPolicy="Permissions.Posts.GetSeries"
              (click)="showAddPostToSeriesModal(row.id, row.name)" class="p-button-rounded p-button-text"></button>

            <button *ngIf="row.status != 3" pButton appPermission appPolicy="Permissions.Posts.Approve" pRipple
              icon="pi pi-check" pTooltip="Approve" tooltipPosition="top" (click)="approve(row.id)"
              class="p-button-rounded p-button-text p-button-success"></button>

            <button *ngIf="row.status != 3 && row.status != 1" pButton pRipple icon="pi pi-forward"
              pTooltip="Send to approve" tooltipPosition="top" (click)="sendToApprove(row.id)" appPermission
              appPolicy="Permissions.Posts.SubmitForApproval"
              class="p-button-rounded p-button-text p-button-danger"></button>

            <button *ngIf="row.status != 3" pButton pRipple icon="pi pi-backward" pTooltip="Reject"
              tooltipPosition="top" (click)="reject(row.id, row.name)" appPermission appPolicy="Permissions.Posts.Reject"
              class="p-button-rounded p-button-text p-button-danger"></button>

            <button pButton pRipple icon="pi pi-history" pTooltip="Post Activity logs" tooltipPosition="top"
              (click)="showPostActivityLogs(row.id, row.name)" appPermission
              appPolicy="Permissions.Posts.GetPostActivityLogs"
              class="p-button-rounded p-button-text p-button-info"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Total: {{ totalCount | number }}</div>
      </ng-template>
    </p-table>
  </div>

  <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>


  <p-blockUI [blocked]="isLoading">
    <div class="card flex justify-content-center bg-transparent" [style]="{border: 'none'}">
      <p-progressSpinner strokeWidth="2" animationDuration="1s" />
    </div>
  </p-blockUI>
</p-panel>