<p-panel [style]="{ 'margin-bottom': '10px' }">
  <p-header> Roles </p-header>
  <div class="row">
    <div class="col">
      <button appPermission appPolicy="Permissions.Roles.Create" pButton (click)="showAddModal()"
        class="p-button-sm p-button-success"><i class="pi pi-plus"></i>&nbsp;Add</button>
      <button appPermission appPolicy="Permissions.Roles.Delete" pButton *ngIf="selectedItems.length > 0"
        (click)="deleteItems()" class="p-button-sm p-button-danger ms-1"><i class="pi pi-trash"></i>&nbsp;Delete</button>
      <button appPermission appPolicy="Permissions.Roles.Edit" pButton *ngIf="selectedItems.length == 1" 
      (click)="showEditModal()" class="p-button-sm p-button-warning ms-1"><i class="pi pi-pencil"></i>&nbsp;Edit</button>
    </div>
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <input id="txtKeyword" pInputText (keyup.enter)="getData()" [(ngModel)]="keyword" placeholder="Name..."
            type="text" />
        </div>
        <div class="col">
          <button type="button" pButton (click)="getData()"><i class="pi pi-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <p-table #dt [value]="data" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
          <th>Display name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.displayName }}</td>
          <td>
            <button pButton class="p-button-sm" (click)="showPermissionModal(row.id, row.name)"><i class="pi pi-cog"></i></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Total: {{ total | number }}</div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="pageSize" [totalRecords]="total" (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>

    <p-blockUI [blocked]="isLoading">
      <div class="card flex justify-content-center bg-transparent" [style]="{border: 'none'}">
        <p-progressSpinner strokeWidth="2" animationDuration="1s" />
      </div>
    </p-blockUI>
</p-panel>