<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="save()">
  <div class="flex align-items-center mb-3">
    <label for="name">Name <span class="required">*</span></label>
    <input id="name" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="name"
      [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="name"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>

  <div class="flex align-items-center mb-4">
    <label for="displayName">DisplayName <span class="required">*</span></label>
    <input id="displayName" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="displayName"
      [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="displayName"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>

  <div class="flex justify-content-end">
    <p-button type="submit" [disabled]="!form.valid || btnDisabled" [label]="saveBtnName"></p-button>
  </div>

  <p-blockUI [blocked]="isLoading">
    <div class="card flex justify-content-center bg-transparent" [style]="{border: 'none'}">
      <p-progressSpinner strokeWidth="2" animationDuration="1s" />
    </div>
  </p-blockUI>
</form>