<form class="form-horizontal form-label-left" skipValidation [formGroup]="form" (ngSubmit)="save()">
  <div class="mb-3">
    <label for="title" class="block">Name <span class="required">*</span></label>
    <input id="title" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="name"
      (keyup)="generateSlug()" [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="name" [validationMessages]="validationMessages">
    </app-validate-message>
  </div>
  <div class="mb-3">
    <label for="slug">Slug<span class="required">*</span></label>
    <input id="slug" type="text" pInputText [pKeyFilter]="noSpecial" formControlName="slug"
      [style]="{ width: '100%' }" />
    <app-validate-message [entityForm]="form" fieldName="slug"
      [validationMessages]="validationMessages"></app-validate-message>
  </div>
  <div class="mb-3">
    <label for="description" class="block">Description <span class="required">*</span></label>
        <textarea id="description" type="text" rows="4" pInputTextarea formControlName="description"
          [style]="{ width: '100%' }"></textarea>
        <app-validate-message [entityForm]="form" fieldName="description"
          [validationMessages]="validationMessages"></app-validate-message>
  </div>
  <div class="mb-3">
    <label for="thumbnailFileContent">Image <span class="required">*</span></label>
    <input type="hidden" formControlName="thumbnail" />
    <input (change)="onFileChange($event)" type="file" class="w-full" />
  </div>
  <div *ngIf="thumbnailImage" class="field col-12 md:col-6">
    <p-image [src]="thumbnailImage" [preview]="true" [alt]="selectedEntity.name" width="250">
    </p-image>
  </div>

  <div class="mb-3 col-12">
    <label for="content">Content</label>
    <p-editor formControlName="content" [style]="{ height: '320px' }">
    </p-editor>
  </div>

  <div class="mb-3">
    <label for="shortDesc">SEO Description <span class="required">*</span></label>
    <textarea id="shortDesc" type="text" rows="4" pInputTextarea [pKeyFilter]="noSpecial"
      formControlName="seoDescription" [style]="{ width: '100%' }"></textarea>
  </div>
  <div class="mb-4">
    <p-checkbox formControlName="isActive" [binary]="true" id="isActive"></p-checkbox>
    <label for="isActive">Active</label>
  </div>
  <div class="flex justify-content-end">
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || btnDisabled">
      {{ saveBtnName }}
    </button>
  </div>

  <p-blockUI [blocked]="isLoading">
    <div class="card flex justify-content-center bg-transparent" [style]="{border: 'none'}">
      <p-progressSpinner strokeWidth="2" animationDuration="1s" />
    </div>
  </p-blockUI>
</form>